In [3]:
import pandas as pd

In [4]:
path = "/content/car_models.csv"

In [5]:
df = pd.read_csv(path)

In [6]:
print(df)

  Company Name             Model Name            Fuel Type     Body Style  \
0        Honda                  Civic               Petrol          Sedan
1       Toyota         Corolla Hybrid               Hybrid          Sedan
2        Tesla                Model S             Electric          Sedan
3          BMW                     X3               Diesel            SUV
4      Hyundai                    i20               Petrol      Hatchback

       Car Length
0          182 in
1          183 in
2          196 in
3          186 in
4          158 in

In [13]:
df_dict = pd.DataFrame(df)
print(df_dict)

  Company Name             Model Name            Fuel Type     Body Style  \
0        Honda                  Civic               Petrol          Sedan
1       Toyota         Corolla Hybrid               Hybrid          Sedan
2        Tesla                Model S             Electric          Sedan
3          BMW                     X3               Diesel            SUV
4      Hyundai                    i20               Petrol      Hatchback

       Car Length
0          182 in
1          183 in
2          196 in
3          186 in
4          158 in

In [7]:
path1 = "/content/MODEL.xlsx"

In [8]:
DF = pd.read_excel(path1)

In [9]:
print(DF)

  Company Name Model Name On road pricing Loan amount Monthly EMI  \
0        Honda      Civic         $25,000     $20,000        $300
1       Toyota    Corolla         $26,000     $22,000        $350
2        Tesla    Model S         $70,000     $60,000        $700
3          BMW         X3         $50,000     $40,000        $500
4      Hyundai        i20         $15,000     $10,000        $150

   Interest Rate Monthly Principal Monthly Interest
0          0.050              $167             $133
1          0.045              $200             $150
2          0.035              $500             $200
3          0.060              $333             $167
4          0.070               $83              $67

In [12]:
DF_dict = pd.DataFrame(DF)
print(DF_dict)

  Company Name Model Name On road pricing Loan amount Monthly EMI  \
0        Honda      Civic         $25,000     $20,000        $300
1       Toyota    Corolla         $26,000     $22,000        $350
2        Tesla    Model S         $70,000     $60,000        $700
3          BMW         X3         $50,000     $40,000        $500
4      Hyundai        i20         $15,000     $10,000        $150

   Interest Rate Monthly Principal Monthly Interest
0          0.050              $167             $133
1          0.045              $200             $150
2          0.035              $500             $200
3          0.060              $333             $167
4          0.070               $83              $67

In [15]:
merged_df = pd.merge(df_dict, DF_dict)
print(merged_df)

  Company Name             Model Name            Fuel Type     Body Style  \
0        Honda                  Civic               Petrol          Sedan
1       Toyota         Corolla Hybrid               Hybrid          Sedan
2        Tesla                Model S             Electric          Sedan
3          BMW                     X3               Diesel            SUV
4      Hyundai                    i20               Petrol      Hatchback

       Car Length Model Name On road pricing Loan amount Monthly EMI  \
0          182 in      Civic         $25,000     $20,000        $300
1          183 in    Corolla         $26,000     $22,000        $350
2          196 in    Model S         $70,000     $60,000        $700
3          186 in         X3         $50,000     $40,000        $500
4          158 in        i20         $15,000     $10,000        $150

   Interest Rate Monthly Principal Monthly Interest
0          0.050              $167             $133
1          0.045              $200             $150
2          0.035              $500             $200
3          0.060              $333             $167
4          0.070               $83              $67

In [27]:
def add_gst(row):
    return row['On road pricing'] + (row['On road pricing'] * int(0.18))

In [28]:
merged_df['On road pricing'] = merged_df.apply(add_gst, axis=1)

In [29]:
print(merged_df)

  Company Name             Model Name            Fuel Type     Body Style  \
0        Honda                  Civic               Petrol          Sedan
1       Toyota         Corolla Hybrid               Hybrid          Sedan
2        Tesla                Model S             Electric          Sedan
3          BMW                     X3               Diesel            SUV
4      Hyundai                    i20               Petrol      Hatchback

       Car Length Model Name                             On road pricing  \
0          182 in      Civic  $25,000$25,000$25,000$25,000$25,000$25,000
1          183 in    Corolla  $26,000$26,000$26,000$26,000$26,000$26,000
2          196 in    Model S  $70,000$70,000$70,000$70,000$70,000$70,000
3          186 in         X3  $50,000$50,000$50,000$50,000$50,000$50,000
4          158 in        i20  $15,000$15,000$15,000$15,000$15,000$15,000

  Loan amount Monthly EMI  Interest Rate Monthly Principal Monthly Interest
0     $20,000        $300          0.050              $167             $133
1     $22,000        $350          0.045              $200             $150
2     $60,000        $700          0.035              $500             $200
3     $40,000        $500          0.060              $333             $167
4     $10,000        $150          0.070               $83              $67