In [ ]:
import pandas as pd

In [5]:
File = pd.read_csv("//content//TITANIC.csv")

In [6]:
print(File)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [9]:
Ages = File[File["Age"]<35]
print(Ages)

     PassengerId  Survived  Pclass  \
0              1         0       3
2              3         1       3
7              8         0       3
8              9         1       3
9             10         1       2
..           ...       ...     ...
884          885         0       3
886          887         0       2
887          888         1       1
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
..                                                 ...     ...   ...    ...
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
2        0  STON/O2. 3101282   7.9250   NaN        S
7        1            349909  21.0750   NaN        S
8        2            347742  11.1333   NaN        S
9        0            237736  30.0708   NaN        C
..     ...               ...      ...   ...      ...
884      0   SOTON/OQ 392076   7.0500   NaN        S
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[479 rows x 12 columns]

In [10]:
print(File.iloc[10:26,3:6])

                                                 Name     Sex   Age
10                    Sandstrom, Miss. Marguerite Rut  female   4.0
11                           Bonnell, Miss. Elizabeth  female  58.0
12                     Saundercock, Mr. William Henry    male  20.0
13                        Andersson, Mr. Anders Johan    male  39.0
14               Vestrom, Miss. Hulda Amanda Adolfina  female  14.0
15                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0
16                               Rice, Master. Eugene    male   2.0
17                       Williams, Mr. Charles Eugene    male   NaN
18  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0
19                            Masselmani, Mrs. Fatima  female   NaN
20                               Fynney, Mr. Joseph J    male  35.0
21                              Beesley, Mr. Lawrence    male  34.0
22                        McGowan, Miss. Anna "Annie"  female  15.0
23                       Sloper, Mr. William Thompson    male  28.0
24                      Palsson, Miss. Torborg Danira  female   8.0
25  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0

In [13]:
File[["Age", "Fare"]].agg(['count', 'mean', 'median', 'std', 'min', 'max'])

               Age        Fare
count   714.000000  891.000000
mean     29.699118   32.204208
median   28.000000   14.454200
std      14.526497   49.693429
min       0.420000    0.000000
max      80.000000  512.329200

In [14]:
File.groupby(['Sex', 'Cabin'])['Fare'].mean()

Sex     Cabin
female  A16      39.6000
        B18      57.9792
        B20      57.0000
        B22      71.0000
        B28      80.0000
                  ...
male    F G73     7.6500
        F2       26.0000
        F38       7.7500
        F4       39.0000
        T        35.5000
Name: Fare, Length: 171, dtype: float64